
.title{
    background-color:rgb(246,191,173);
    padding: 30px;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-style: italic;
    text-align: center;
    border-radius: 50%;
}

.image{
    text-align: center;
}